
.landing-page {
  text-align: center;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.plant-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.cart-page {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

header {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
